.singlPostPage {
    padding: 50px 15px;
}

.singlPostPage_container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header_article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body_article {}

.link {
    color: black;
    background-color: rgb(208, 208, 208);
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}

.link:hover {
    color: white;
    background-color: black;
    transition-duration: 300ms;
}

.font_bold {
    font-weight: bold;
}