.row {
    display: flex;
    gap: 5px;
}

.input {
    padding-left: 10px;
    padding-right: 10px;
}

.link {
    text-decoration: none;
    color: black;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.link:hover {
    color: white;
    background-color: black;
    transition-duration: 300ms;
}