* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-radius: 32px;
}

button {
  width: 100%;
  border: none;
  border-radius: 32px;
  padding: 15px;
  background-color: rgb(159, 159, 159);
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 300ms;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: black;
  transition-duration: 300ms;
}

p {
  text-align: center;
  color: rgba(0, 0, 0, 0.481);
}